body {
    margin: 0px 30px 0px 30px;
}


#appHeader {
    color: white;
    background-color: black;
    
}

.seach-container {
    margin-left: 5px;
}

/* img {
    ;
} */
.card {
    border: none;
    background-color: rgb(56, 56, 216);
    color: whitesmoke;
}

#dailyIcon {
    background-color: rgb(56, 56, 216);
}
